<% if (data.stack.frontend.stateManagement === "Context API") { -%>
import { CounterContextProvider } from "contexts/CounterContext";
// import { UserContextProvider } from "contexts/UserContext";
<% } -%>
<% if (data.stack.frontend.styling === "Styled Components") { -%>
import { StyledComponentsRegistry } from "lib/registry";
<% } -%>
import { Metadata } from "next";
import { Roboto } from "next/font/google";
<% if (data.stack.frontend.stateManagement === "Redux Toolkit") { -%>
import { StoreProvider } from "providers/StoreProvider";
<% } -%>
import { ReactNode } from "react";
<% if (data.stack.frontend.styling === "CSS Modules") { -%>
import "styles/global.css";
<% } -%>
<% if (data.stack.frontend.styling === "SASS Modules") { -%>
import "styles/_global.scss";
<% } -%>
<% if (data.stack.frontend.styling === "Styled Components") { -%>
import { GlobalStyle } from "styles/global";
<% } -%>
<% if (data.stack.frontend.styling === "TailwindCSS") { -%>
import "styles/globals.css";
<% } -%>

type RootLayoutProps = {
  children: ReactNode;
};

export const metadata: Metadata = {
  authors: [{ name: "<%= data.author.name %>", url: "https://github.com/<%= data.author.githubUsername %>" }],
  description: "<%= data.project.description %>",
  icons: [{ rel: "icon", url: "/favicon.ico" }],
  keywords: [
<% data.project.keywords.forEach((keyword, index) => { -%>
<% const isLastElement = index === data.project.keywords.length - 1; -%>
<% if (isLastElement) { -%>
    "<%= keyword %>"
<% } else { -%>
    "<%= keyword %>",
<% } -%>
<% }); -%>
  ],
  themeColor: [{ color: "#ffffff", media: "(prefers-color-scheme: dark)" }],
  title: "<%= data.project.name %>",
};

const roboto = Roboto({
  style: "normal",
  subsets: ["latin"],
  weight: ["100", "300", "400", "500", "700", "900"],
});

<% if (data.stack.frontend.stateManagement === "Context API" && data.stack.frontend.styling === "Styled Components") { -%>
const RootLayout = ({ children }: RootLayoutProps): JSX.Element => {
  return (
    <html lang="<%= data.author.language %>">
      <StyledComponentsRegistry>
        <GlobalStyle />
        <body className={roboto.className}>
          {/* <UserContextProvider> */}
            <CounterContextProvider>
              {children}
            </CounterContextProvider>
          {/* </UserContextProvider> */}
        </body>
      </StyledComponentsRegistry>
    </html>
  );
};
<% } else if (data.stack.frontend.stateManagement === "Redux Toolkit" && data.stack.frontend.styling === "Styled Components") { -%>
const RootLayout = ({ children }: RootLayoutProps): JSX.Element => {
  return (
    <html lang="<%= data.author.language %>">
      <StyledComponentsRegistry>
        <GlobalStyle />
        <body className={roboto.className}>
          <StoreProvider>
            {children}
          </StoreProvider>
        </body>
      </StyledComponentsRegistry>
    </html>
  );
};
<% } else if (data.stack.frontend.stateManagement === "Context API") { -%>
const RootLayout = ({ children }: RootLayoutProps): JSX.Element => {
  return (
    <html lang="<%= data.author.language %>">
      <body className={<% if (data.stack.frontend.styling === "TailwindCSS") { -%>`${roboto.className} min-h-screen animate-gradient bg-colorful bg-400`<% } else { -%>roboto.className<% } -%>}>
        {/* <UserContextProvider> */}
          <CounterContextProvider>
            {children}
          </CounterContextProvider>
        {/* </UserContextProvider> */}
      </body>
    </html>
  );
};
<% } else if (data.stack.frontend.stateManagement === "Redux Toolkit") { -%>
const RootLayout = ({ children }: RootLayoutProps): JSX.Element => {
  return (
    <html lang="<%= data.author.language %>">
      <body className={<% if (data.stack.frontend.styling === "TailwindCSS") { -%>`${roboto.className} min-h-screen animate-gradient bg-colorful bg-400`<% } else { -%>roboto.className<% } -%>}>
        <StoreProvider>
          {children}
        </StoreProvider>
      </body>
    </html>
  );
};
<% } else if (data.stack.frontend.styling === "Styled Components") { -%>
const RootLayout = ({ children }: RootLayoutProps): JSX.Element => {
  return (
    <html lang="<%= data.author.language %>">
      <StyledComponentsRegistry>
        <GlobalStyle />
        <body className={roboto.className}>{children}</body>
      </StyledComponentsRegistry>
    </html>
  );
};
<% } else { -%>
const RootLayout = ({ children }: RootLayoutProps): JSX.Element => {
  return (
    <html lang="<%= data.author.language %>">
      <body className={<% if (data.stack.frontend.styling== "TailwindCSS") { -%>`${roboto.className} min-h-screen animate-gradient bg-colorful bg-400`<% } else { -%>roboto.className<% } -%>}>
        {children}
      </body>
    </html>
  );
};
<% } -%>

export default RootLayout;
